@font-face {
  font-family: Nunito;
  src: url(fonts/nunito-black-webfont.woff);
}
@font-face {
  font-family: ChunkFive;
  src: url(fonts/Chunk\ Five\ Print.otf);
}
@font-face {
  font-family: MBW;
  src: url(fonts/MomcakeBold-WyonA.otf);
}
@font-face {
  font-family: Badoni;
  src: url(fonts/BodoniflfBold-MVZx.ttf);
}
@font-face {
  font-family: PSB;
  src: url(fonts/PoppinsSemibold-8l8n.otf);
}

.mainHeader {
  color: rgb(34, 62, 104);
  font-size: 3em;
  font-family: "Nunito";
  font-weight: 100;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}
.about {
  color: rgb(34, 62, 104);
  font-size: 3em;
  font-family: "Nunito";
  font-weight: 100;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 8em;
}
.about_contain {
  background-color: rgb(34, 62, 104);
  color: white;
  font-size: 2em;
  border: 3px solid rgb(112, 183, 201);
  text-align: center;
  font-family: "ChunkFive";
  width: 100%;
  height: auto;
  margin-top: 0%;
  padding: 2%;
}
.about_text {
  margin-top: 5%;
  font-family: "Badoni";
  font-size: 15px;
}
.paragraph {
  color: rgb(34, 62, 104);
  font-size: medium;
  font-family: "PSB";
  font-weight: bolder;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
}
.paragraph-1 {
  color: rgb(34, 62, 104);
  font-size: smaller;
  font-family: "PSB";
  font-weight: bolder;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
}
.paragraph-3 {
  color: rgb(34, 62, 104);
  font-size: x-large;
  font-family: "PSB";
  font-weight: bolder;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: auto;
  margin-right: auto;
}
.paragraph-4 {
  color: rgb(250, 250, 250);
  font-size: x-large;
  font-family: "PSB";
  font-weight: bolder;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: auto;
  margin-right: auto;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(255, 255, 255);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(34, 62, 104);
}

li {
  float: left;
}
li a {
  font-family: "Trebuchet MS";
  display: block;
  color: rgb(112, 183, 201);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: rgb(255, 255, 255);
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

section {
  justify-content: center;
  align-items: center;
}
section.type-a {
  background-image: url("sec1.gif");
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
}
section.type-b {
  background-color: none;
  background-repeat: repeat;
  max-width: 100%;
  height: auto;
}
section.type-c {
  background-color: none;
  max-width: 100%;
  height: auto;
}
section.type-d {
  background-color: rgb(34, 62, 104);
  margin-bottom: 0%;
  max-width: 100%;
  height: auto;
}
section.type-e {
  background-color: #88a9c3;
  min-height: 24em;
  max-width: 100%;
  height: auto;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 13px;
  font-family: "Nunito";
  border: none;
  outline: none;
  background-color: rgb(34, 62, 104);
  color: rgb(255, 255, 255);
  cursor: auto;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: rgb(112, 183, 201);
}
.container {
  background: none;
  width: 70%;
  border-spacing: 2em;
  margin: auto;
  margin-top: 0%;
}
.chart {
  position: relative;
  padding: 2%;
  background: none;
  border-radius: 5px;
  font-size: 16px;
}
.chart * {
  box-sizing: border-box;
}
.chart:after {
  content: "";
  position: absolute;
  left: 25%;
  top: 7.5%;
  transform: translateX(100%);
  width: 4px;
  background: none;
  height: 86%;
  border-radius: 2px;
}
.chart .part {
  height: 3em;
}
.chart .part > .label {
  flex: 1;
  flex-basis: 25%;
  text-align: center;
  padding-right: 1em;
  margin: 0.5em 0;
  height: 2em;
  line-height: 2em;
  color: rgb(34, 62, 104);
  font-weight: 600;
  font-family: Nunito;
}
.chart .part .bar {
  flex: 3;
  flex-basis: 75%;
  position: relative;
  margin-top: auto;
}
.chart .part .bar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 0 2px 2px 0;
  -webkit-animation: grow 10s;
  animation: grow 7s;
}
.chart .part .bar:after {
  background: rgb(34, 62, 104);
}
.chart .part .bar .label {
  position: absolute;
  top: 50%;
  left: 0.5em;
  transform: translateX(50%) translateY(-50%);
  z-index: 1;
  color: rgb(255, 255, 255);
  font-weight: 200;
}
.chart .part.percent-20 .bar:after {
  width: 20%;
}
.chart .part.percent-30 .bar:after {
  width: 30%;
}
.chart .part.percent-70 .bar:after {
  width: 70%;
}
.chart .part.percent-75 .bar:after {
  width: 75%;
}
.chart .part.percent-80 .bar:after {
  width: 80%;
}
div.gallery {
  border: none;
}

div.gallery:hover {
  border: 8px solid rgb(255, 255, 255);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.container-1 {
  position: relative;
  width: 100%;
  height: auto;
}

.image-1 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle-1 {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-1:hover .image-1 {
  opacity: 0.5;
}

.container-1:hover .middle-1 {
  opacity: 1;
}

.text-1 {
  background-color: white;
  color: rgb(34, 62, 104);
  font-family: "PSB";
  font-size: 16px;
  padding: 16px 32px;
}
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
image {
  size: 10%;
}

.image-left,
.image-right {
  margin: 1em 0;
}
.btn {
  text-decoration: none;
  background: none;
  border: 5px solid rgb(34, 62, 104);
  font-family: "PSB";
  font-size: 15px;
  color: rgb(34, 62, 104);
  padding: 12px 30px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover {
  background-color: white;
}
[class*="col-"] {
  float: left;
  padding: 15px;
  width: 100%;
}

input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  font-size: 0.75em;
  color: white;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .styled-input {
    width: 100%;
  }
}

.styled-input label {
  color: white;
  font-family: "PSB";
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
  margin-top: none;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: rgb(34, 62, 104);
  color: white;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 15px auto;
}

.submit-btn {
  float: right;
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: rgb(34, 62, 104);
  color: white;
  font-size: 18px;
  font-family: "PSB";
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 white, 0 1px 1px 0 white;
}
.center {
  text-align: center;
  width: 100%;
}
.fa {
  padding: 5px;
  font-size: auto;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  margin: 5px 2px;
  position: relative;
}
.icon {
  text-align: center;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: none;
  color: rgb(34, 62, 104);
}
.fa-linkedin {
  background: none;
  color: rgb(34, 62, 104);
}

.fa-youtube {
  background: none;
  color: rgb(34, 62, 104);
}

.fa-instagram {
  background: none;
  color: rgb(34, 62, 104);
}
@media (max-width: 768px) {
  .submit-btn {
    width: 100%;
    float: none;
    text-align: center;
  }
}

input[type="checkbox"] + label {
  color: white;
  font-style: italic;
}

input[type="checkbox"]:checked + label {
  color: #f00;
  font-style: normal;
}

@media only screen and (min-width: 600px) {
  .col-s-3 {
    width: 25%;
  }
}

@media only screen and (min-width: 768px) {
  .col-3 {
    width: 25%;
  }
}
@media screen and (max-width: 600px) {
  .column-2,
  input[type="submit"] {
    width: 50%;
    margin-top: 0;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
@-webkit-keyframes grow {
  from {
    width: 0;
  }
}

@keyframes grow {
  from {
    width: 0;
  }
}
